modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 36241
externalPort = 3003

[[ports]]
localPort = 42425
externalPort = 80

[[ports]]
localPort = 43509
externalPort = 3001

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 39269799

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
